<launch>
  <arg name="depth_image_topic" />
  <arg name="camera_matrix_topic" />

  <!-- Pose Estimation Node-->
  <node name="robot_tracker" type="robot_tracker"
        pkg="state_filtering" output="screen" respawn="false"> <!-- launch-prefix="valgrind" -->
       <param name="depth_image_topic"    type="string"  value="$(arg depth_image_topic)" />
       <param name="camera_info_topic"  type="string"  value="$(arg camera_info_topic)" /> 
       <rosparam command="load" file="$(find state_filtering)/config/robot_config.yaml" />             
  </node>

</launch>
