<launch>
  <arg name="config_file" default="$(find pose_tracking)/config/test_param_estimation_fpf.yaml"/>

  <!-- Pose Estimation Node-->
  <node name="test_param_estimation_fpf" type="test_param_estimation_fpf"
        pkg="pose_tracking" output="screen" respawn="false" > <!-- launch-prefix gdb - ex run  - - args,  valgrind -->      
        <rosparam command="load" file="$(arg config_file)" />
        <param name="config_file"  type="string"  value="$(arg config_file)" />              
  </node>
</launch>
