<launch>
  <!-- "camera" should uniquely identify the device. All topics are pushed down
       into the "camera" namespace, and it is prepended to tf frame ids. -->
  <arg name="camera" default="XTION" />
  <arg name="rgb_frame"   default="/$(arg camera)_RGB" />
  <arg name="depth_frame" default="/$(arg camera)_IR" />
  <arg name="calibration_url"  default="$(find state_filter)/config/xtion_calib_60Hz.yaml" />
  <node pkg="arm_rgbd_60Hz" name="$(arg camera)" type="rgbd_node" respawn="false" output="screen">
    <param name="rgb_frame_id"  type="string"  value="$(arg rgb_frame)" />
    <param name="depth_frame_id"  type="string"  value="$(arg depth_frame)" />
    <param name="calib_url"  type="string"  value="$(arg calibration_url)" />
  </node>
  
  
  <!-- Load reasonable defaults for the relative pose between cameras -->
  <include file="$(find arm_rgbd)/launch/arm_rgbd_frames.launch">
    <param name="camera" type="string" value="/$(arg camera)"/>
  </include>
</launch>
